<%= simple_form_for(@ingredient) do |f| %>
  <% if @ingredient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ingredient.errors.count, 'error') %> prohibited this ingredient from being saved:</h2>

      <ul>
      <% @ingredient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.association :ingredient_category, include_blank: false %>
  </div>
  <div class="field">
    <%= f.input :name %>
  </div>
  <div class="field">
    <%= f.input :price_per_cl %>
  </div>
  <div class="field">
    <%= f.input :available %>
  </div>
  <div class="field">
    <%= f.input :comment %>
  </div>
  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
