<%= simple_form_for(@ingredient_category) do |f| %>
  <% if @ingredient_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ingredient_category.errors.count, 'error') %> prohibited this ingredient_category from being saved:</h2>

      <ul>
      <% @ingredient_category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.input :name %>
  </div>
  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
