<p id="notice"><%= notice %></p>

<h1>Listing Ingredient Categories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ingredient_categories.each do |ingredient_category| %>
      <tr>
        <td><%= ingredient_category.name %></td>
        <td><%= link_to 'Show', ingredient_category %></td>
        <% if admin_signed_in? %>
            <td><%= link_to 'Edit', edit_ingredient_category_path(ingredient_category) %></td>
            <td><%= link_to 'Destroy', ingredient_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ingredient category', new_ingredient_category_path %>
