<%= simple_form_for(@cocktail_recipe) do |f| %>
  <% if @cocktail_recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cocktail_recipe.errors.count, 'error') %> prohibited this cocktail_recipe from being saved:</h2>

      <ul>
      <% @cocktail_recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.input :name %>
  </div>
    <h3>Ingredients:</h3>
    <%= f.simple_fields_for :cocktail_recipe_parts do |recipe_parts_form| %>
      <%= render 'recipe_part_fields', f: recipe_parts_form %>
    <% end %>
    <div class="links">
      <%= link_to_add_association 'add ingredient', f, :cocktail_recipe_parts, partial: 'recipe_part_fields' %>
    </div>
  <div class="field">
    <%= f.input :description %>
  </div>
  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
