<div class="nested-fields">
  <div class="field">
    <%= f.association :ingredient_category, include_blank: false %>
  </div>
  <div class="field">
    <%= f.association :ingredient, collection: IngredientCategory.all,
                      as: :grouped_select, group_method: :ingredients, include_blank: false %>
    <%= f.input :strict %>
  </div>
  <div class="field">
    <%= f.input :amount %>
  </div>
  <%= link_to_remove_association 'remove ingredient', f %>
</div>