<p id="notice"><%= notice %></p>

<h1>Listing Cocktail Recipes</h1>
<div class="uk-grid uk-flex-around data-uk-grid-match uk-child-width-1-2@s uk-child-width-1-3@m uk-child-width-1-4@l">
  <% @cocktail_recipes.each do |cocktail_recipe| %>
      <div class="uk-card uk-card-small uk-card-body uk-card-default uk-card-hover uk-margin-left uk-margin-top">
        <div class="uk-card-header">
          <h3 class="uk-card-title">
            <%= cocktail_recipe.name %>
          </h3>
        </div>
        <dl class="equal-height uk-description-list uk-description-list-divider">
          <dt>Price</dt>
          <dd><%= cocktail_recipe.selling_price %></dd>
          <% if cocktail_recipe.cocktail_recipe_parts %>
              <dt>Ingredients</dt>
              <dd>
                <ul class="uk-list uk-list-bullet">
                  <% cocktail_recipe.cocktail_recipe_parts.each do |recipe_part| %>
                      <li>
                        <%= sprintf('%.2g', recipe_part.amount / 10) %>
                        <%= recipe_part.strict ? recipe_part.ingredient.name : recipe_part.ingredient_category.name %>
                      </li>
                  <% end %>
                </ul>
              </dd>
          <% end %>
        </dl>

        <div class="uk-card-footer">
          <%= link_to 'Show', cocktail_recipe, class: 'uk-button uk-button-default' %>
          <% if admin_signed_in? %>
              <%= link_to 'Edit', edit_cocktail_recipe_path(cocktail_recipe), class: 'uk-button uk-button-primary' %>
              <%= link_to 'Destroy', cocktail_recipe, method: :delete, data: { confirm: 'Are you sure?' }, class: 'uk-button uk-button-danger' %>
          <% end %>
        </div>
      </div>
  <% end %>
</div>

<br>

<%= link_to 'New Cocktail recipe', new_cocktail_recipe_path %>
