<p id="notice"><%= notice %></p>

<h1>Listing Cocktail Recipes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Cost</th>
      <th>Selling price</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cocktail_recipes.each do |cocktail_recipe| %>
      <tr>
        <td><%= cocktail_recipe.name %></td>
        <td><%= cocktail_recipe.cost %></td>
        <td><%= cocktail_recipe.selling_price %></td>
        <td><%= cocktail_recipe.description %></td>
        <td><%= link_to 'Show', cocktail_recipe %></td>
        <td><%= link_to 'Edit', edit_cocktail_recipe_path(cocktail_recipe) %></td>
        <td><%= link_to 'Destroy', cocktail_recipe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cocktail recipe', new_cocktail_recipe_path %>
