<!DOCTYPE html>
<html>
<head>
  <title>LazyBar</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to 'Kategorien', ingredient_categories_path %>
<%= link_to 'Zutaten', ingredients_path %>
<%= link_to 'Cocktails', cocktail_recipes_path %>
<%= yield %>

</body>
</html>
