<!DOCTYPE html>
<html>
<head>
  <title>LazyBar</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<p class="notice">
  <%= notice %>
</p>
<p class="alert">
  <%= alert %>
</p>
<%= link_to 'Kategorien', ingredient_categories_path %>
<%= link_to 'Zutaten', ingredients_path %>
<%= link_to 'Cocktails', cocktail_recipes_path %>

<% if signed_in? %>
    <% if user_signed_in? %>
        | Logged in as:
        <%= current_user.email %>
        <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
    <% end %>
    <% if admin_signed_in? %>
        | Logged in as:
        <%= current_admin.email %>
        <%= link_to('Logout', destroy_admin_session_path, :method => :delete) %>
    <% end %>
<% else %>
    |
    <%= link_to('User Login', new_user_session_path) %>
    <%= link_to('Admin Login', new_admin_session_path) %>
<% end %>

<p class="disclaimer">
  This application is in a highly experimental pre-alpha state. It is supposed to replace
  <%= link_to 'my google docs spreadsheet', 'https://docs.google.com/spreadsheets/d/1kbMEg0_8o34rO54TdDb_om9AxB7agWSPGCx_7iYMPhw' %>
  <%= link_to 'Source Code', 'https://github.com/klyonrad/lazybar' %>
</p>
<%= yield %>

</body>
</html>
